.pagination {
    overflow-x: auto;
    display: flex;
    align-items: center;
    transition: 0.15s all linear;
    padding: 0.2rem 0;
    margin: 2rem 0 1rem;
}
.pagination__arrow {
    color: #babec1;
    min-height: 40px;
    min-width: 40px;
    margin: 0 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination__arrow-icon {
    font-size: 2.5rem !important;
}
.pagination__dots {
    margin: 0.5rem 1rem;
    font-size: 1.2rem;
    color: rgb(97, 97, 97);
}
